.colored_container__red {
	background-color: #ad3c3c;
	height: fit-content;
	width: fit-content;
	padding: 10px;
	border-radius: 8px;
	/* Center content */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
}

/* .colored_container__red :hover {
	transform: scale(1.05);
} */

.colored_container__blue {
	background-color: #30475e;
	height: fit-content;
	width: fit-content;
	padding: 10px;
	border-radius: 8px;
	/* Center content */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .colored_container__blue :hover {
	transform: scale(1.05);
} */

.colored_container__blue__movie_details {
	background-color: #30475e;
	height: fit-content;
	width: 97%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	/* Center content */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.colored_container__blue__reserve_side {
	background-color: #30475e;
	height: 80%;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 8px;
	flex: 0.2;
	/* Center content */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.colored_container__blue__reserve_center {
	background-color: #30475e;
	height: 80%;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 8px;
	flex: 0.8;
	margin-left: 10px;
	margin-right: 10px;
	/* Center content */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
