.moviePoster {
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	width: 20vw;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.moviePosterSmall {
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	width: 200px;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.moviePosterSmall:hover {
	transform: scale(1.1);
}

.moviePoster:hover {
	transform: scale(1.1);
}
