.nav {
	background-color: #181a1c;
	height: 75px;
	color: #f5f5f5;
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
	/* Center content */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

nav {
	list-style: none;
	flex: 0.8;
}

li :link {
	float: right;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-right: 50px;
	transition: all 0.3s ease-in;
}

li :visited {
	float: right;
	color: #f5f5f5;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-right: 50px;
	transition: all 0.3s ease-in;
}

li :hover {
	background-color: #f5f5f5;
	color: #181a1c;
	border-radius: 8px;
	padding: 10px;
}

.profileContainer {
	flex: 0.05;
}

.backButtonContainer {
	flex: 0.2;
}

.userProfile {
	height: 60px;
	width: 60px;
	border-radius: 8px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
	background-image: url("../../../public/user-icon.png");
}
